@font-face{
    font-family: Abel;
    src:url('../fonts/Abel/Abel-Regular.ttf');
}
@font-face{
    font-family:Abeezee ;
    src:url('../fonts/ABeeZee/ABeeZee-Regular.ttf');
}
@font-face{
    font-family: Short;
    src:url('../fonts/Short_Stack/ShortStack-Regular.ttf');
}
@font-face{
    font-family:TradeWind;
    src:url('../fonts/TradeWinds-Regular.ttf');
}
@font-face{
    font-family: Anton;
    src:url('../fonts/Anton-Regular.ttf');
}